.navigation {
  background-color: var(--navbar-color);

  display: flex;
  justify-content: center;
  align-content: center;

  padding: 1.25rem;

  list-style: none;

  &_item {
    padding: 0.5rem;
    &:not(:last-child) {
      margin-right: 0.25rem;
    }
  }

  &_link:link,
  &_link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--light-grey-0);
    letter-spacing: 1.5px;
    transition: all 0.2s;
  }

  &_link:hover {
    color: var(--secondary-color);
    // background-color: var(--secondary-color-light-1);
  }
}
