.dropdown {
  font-size: 1rem;
  position: relative;

  &_menu {
    position: absolute;
    top: 3.25rem;
    left: 10px;
    width: 96%;
    overflow-y: scroll;
    max-height: 25vh;
    border-radius: 10px;
    // text-align: end;
    &::-webkit-scrollbar {
      width: 0px;
      background-color: transparent;
    }
  }

  &_list {
    font-size: 0.9rem;
    color: var(--dark-grey-1);
    background-color: var(--background-color-light-2);
    padding: 0.25rem 0;
    border-radius: 10px;
    overflow: hidden;

    &_item {
      list-style: none;
      padding: 0.25rem 1.5rem;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      &:hover {
        background-color: var(--secondary-color-light-1);
        cursor: pointer;
      }
    }
  }
}
