.container {
  width: 70rem;
  height: 30rem;
  margin: 5rem auto;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

// CATEGORIES
.categories {
  display: flex;
  height: 3rem;
  appearance: none;
  outline: none;
}

.search {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &_input {
    font-family: inherit;

    color: var(--dark-grey-1);
    background-color: var(--background-color-light-2);
    width: 30rem;
    height: 2rem;
    border: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    outline: none;
    padding: 1.5rem 2rem;
    padding-right: 2.75rem;
    margin-right: -2.5rem;
  }

  &_btn {
    border-style: none;
    outline: none;
    background-color: transparent;
  }

  &_icon {
    height: 1.7rem;
    width: 1.7rem;
    fill: var(--light-grey-2);
    display: inline-block;
  }
}

.dropdown {
  font-size: 1rem;
  position: relative;

  &_btn {
    font-size: 0.95rem;
    height: 3rem;
    width: 12rem;
    outline: none;
    border: none;
    padding-left: 1rem;
    text-align: center;

    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;

    color: var(--dark-grey-1);
    background-color: var(--secondary-color);

    &:hover,
    &:focus,
    &:active {
      color: var(--dark-grey-1);
      background-color: var(--secondary-color-light-1);
    }
  }

  &_icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--dark-grey-1);

    display: inline-block;
  }
}
